@font-face {
    font-family: 'SourceCodePro';
    src: url(../../fonts/SourceCodePro.ttf);
}
.fonts {
    font-family: 'SourceCodePro';
}

body {
    margin: 0;
    letter-spacing: 2px;
    font-family: 'Crimson Text', '-apple-system', SimSun;
}

i {
    font-style: normal;
    font-family: 'SourceCodePro';
}
::selection {
    color: #fff;
    background-color: #000;
}
*[hover] {
    transition: color .15s;
}
*[hover]:hover {
    color: #007fff;
}

.lang-js {
    display: block;
    padding-left: 5px;
    background: #fafafa;
}

