<!DOCTYPE html>
<html>
<head>
    <title>{$title}</title>

    <link rel="stylesheet" type="text/css" href="__ROOT__/static/index/css/index.css">

    <link href='//cdn.webfont.youziku.com/webfonts/nomal/98137/37509/588c3509f629d819e8b20de5.css' rel='stylesheet' type='text/css' />

</head>
<body>
    <section class="bg">
        <div class="bg-img"></div>
    </section>
    <header class="css888d8761d17f59">
        IDSBLLP
    </header>

    <div class="ba">adaaszhon中文？？啊 v 要的逼迫</div>
    <div id="app"></div>
    <script src="__ROOT__/static/index/js/index.js"></script>
</body>
</html>